<a href="https://colab.research.google.com/github/JayThibs/Machine-Learning-With-Tabular-Data/blob/master/Rossman_Store_Sales_Tabular_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Rossmann Store Sales

## Description

Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality. With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied.

## Problem Statement

Our goal is to be able to predict the number of sales for a particular date and store.

In [0]:
%reload_ext autoreload
%autoreload 2

In [0]:
from fastai import *
from fastai.tabular import *
from fastai.basics import *
import os # for reading from the file

## Data Preparation / Feature Engineering

We will be using [external data](http://files.fast.ai/part2/lesson14/rossmann.tgz) along with the data provided in the Kaggle competition.

In [3]:
!wget -P /content/ http://files.fast.ai/part2/lesson14/rossmann.tgz

--2019-10-10 22:34:13--  http://files.fast.ai/part2/lesson14/rossmann.tgz
Resolving files.fast.ai (files.fast.ai)... 67.205.15.147
Connecting to files.fast.ai (files.fast.ai)|67.205.15.147|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7730448 (7.4M) [application/x-gtar-compressed]
Saving to: ‘/content/rossmann.tgz’

rossmann.tgz        100%[===================>]   7.37M  12.3MB/s    in 0.6s

2019-10-10 22:34:14 (12.3 MB/s) - ‘/content/rossmann.tgz’ saved [7730448/7730448]

In [0]:
!tar -xf /content/rossmann.tgz

In [0]:
!rm -rf /content/rossmann.tgz

In [6]:
table_names = ['train', 'store', 'store_states', 'state_names', 'googletrend',
               'weather', 'test']

tables = [pd.read_csv(f'{fname}.csv', low_memory=False) \
          for fname in table_names]
train, store, store_states, state_names, googletrend, weather, test = tables
len(train), len(test) # number of train and test examples

(1017209, 41088)


The data we will be using:

*   train: Contains store information on a daily basis, tracks things like sales, customers, whether that day was a holdiay, etc.
*   store: general info about the store including competition, etc.
*   store_states: maps store to state it is in
*   state_names: Maps state abbreviations to names
*   googletrend: trend data for particular week/state
*   weather: weather conditions for each state
*   test: Same as training table, w/o sales and customers

Let's have a look at what our training set looks like:

In [7]:
train.head()

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

In [8]:
train.tail()

         Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
1017204   1111          2  2013-01-01  ...      0             a              1
1017205   1112          2  2013-01-01  ...      0             a              1
1017206   1113          2  2013-01-01  ...      0             a              1
1017207   1114          2  2013-01-01  ...      0             a              1
1017208   1115          2  2013-01-01  ...      0             a              1

[5 rows x 9 columns]

Let's have a look at all the datasets:

In [9]:
from IPython.display import HTML, display
for t in tables: display(t.head())

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

   Store StoreType  ... Promo2SinceYear    PromoInterval
0      1         c  ...             NaN              NaN
1      2         a  ...          2010.0  Jan,Apr,Jul,Oct
2      3         a  ...          2011.0  Jan,Apr,Jul,Oct
3      4         c  ...             NaN              NaN
4      5         a  ...             NaN              NaN

[5 rows x 10 columns]

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

                 file        Date  ...  Events  WindDirDegrees
0  NordrheinWestfalen  2013-01-01  ...    Rain             215
1  NordrheinWestfalen  2013-01-02  ...    Rain             225
2  NordrheinWestfalen  2013-01-03  ...    Rain             240
3  NordrheinWestfalen  2013-01-04  ...    Rain             263
4  NordrheinWestfalen  2013-01-05  ...    Rain             268

[5 rows x 24 columns]

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

And now we can summarize the datasets:

In [10]:
for t in tables: display(t.describe())

              Store     DayOfWeek  ...         Promo  SchoolHoliday
count  1.017209e+06  1.017209e+06  ...  1.017209e+06   1.017209e+06
mean   5.584297e+02  3.998341e+00  ...  3.815145e-01   1.786467e-01
std    3.219087e+02  1.997391e+00  ...  4.857586e-01   3.830564e-01
min    1.000000e+00  1.000000e+00  ...  0.000000e+00   0.000000e+00
25%    2.800000e+02  2.000000e+00  ...  0.000000e+00   0.000000e+00
50%    5.580000e+02  4.000000e+00  ...  0.000000e+00   0.000000e+00
75%    8.380000e+02  6.000000e+00  ...  1.000000e+00   0.000000e+00
max    1.115000e+03  7.000000e+00  ...  1.000000e+00   1.000000e+00

[8 rows x 7 columns]

            Store  CompetitionDistance  ...  Promo2SinceWeek  Promo2SinceYear
count  1115.00000          1112.000000  ...       571.000000       571.000000
mean    558.00000          5404.901079  ...        23.595447      2011.763573
std     322.01708          7663.174720  ...        14.141984         1.674935
min       1.00000            20.000000  ...         1.000000      2009.000000
25%     279.50000           717.500000  ...        13.000000      2011.000000
50%     558.00000          2325.000000  ...        22.000000      2012.000000
75%     836.50000          6882.500000  ...        37.000000      2013.000000
max    1115.00000         75860.000000  ...        50.000000      2015.000000

[8 rows x 7 columns]

            Store
count  1115.00000
mean    558.00000
std     322.01708
min       1.00000
25%     279.50000
50%     558.00000
75%     836.50000
max    1115.00000

         StateName State
count           16    16
unique          16    16
top     Thueringen    RP
freq             1     1

             trend
count  2072.000000
mean     63.814189
std      12.650246
min       0.000000
25%      55.000000
50%      64.000000
75%      72.000000
max     100.000000

       Max_TemperatureC  Mean_TemperatureC  ...    CloudCover  WindDirDegrees
count      15840.000000       15840.000000  ...  14667.000000    15840.000000
mean          14.644129          10.388952  ...      5.551306      175.896717
std            8.646012           7.379260  ...      1.687710      101.588872
min          -11.000000         -13.000000  ...      0.000000       -1.000000
25%            8.000000           4.000000  ...      5.000000       80.000000
50%           15.000000          11.000000  ...      6.000000      202.000000
75%           21.000000          16.000000  ...      7.000000      256.000000
max           39.000000          31.000000  ...      8.000000      360.000000

[8 rows x 21 columns]

                 Id         Store  ...         Promo  SchoolHoliday
count  41088.000000  41088.000000  ...  41088.000000   41088.000000
mean   20544.500000    555.899533  ...      0.395833       0.443487
std    11861.228267    320.274496  ...      0.489035       0.496802
min        1.000000      1.000000  ...      0.000000       0.000000
25%    10272.750000    279.750000  ...      0.000000       0.000000
50%    20544.500000    553.500000  ...      0.000000       0.000000
75%    30816.250000    832.250000  ...      1.000000       1.000000
max    41088.000000   1115.000000  ...      1.000000       1.000000

[8 rows x 6 columns]

If we look at `StateHoliday`, we have 0 and a as values. There are actually four types of values: a = public holiday, b = Easter holiday, c = Christmas, and 0 = None. We'll be turning it into a boolean in order to make it more convenient for modeling.

In [0]:
train.StateHoliday = train.StateHoliday != '0'
test.StateHoliday = test.StateHoliday != '0'

In [12]:
train.head(1)

   Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
0      1          5  2015-07-31  ...      1         False              1

[1 rows x 9 columns]

In [13]:
train.tail(1)

         Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
1017208   1115          2  2013-01-01  ...      0          True              1

[1 rows x 9 columns]

Since we have a DataFrames, we're going to join them together. We can start by creating a function called `join_df` that will join tables on specific fields:

In [0]:
# The suffix argument '_y' appends all the duplicate field names.
# We will drop these duplicate columns later.
def join_df(left, right, left_on, right_on=None, suffix='_y'):
  if right_on is None: right_on = left_on
  return left.merge(right, how='left', left_on=left_on, right_on=right_on,
                    suffixes=("", suffix))

Let's join the weather/state names.

In [0]:
weather = join_df(weather, state_names, "file", "StateName")

In [16]:
weather.head()

                 file        Date  ...           StateName  State
0  NordrheinWestfalen  2013-01-01  ...  NordrheinWestfalen     NW
1  NordrheinWestfalen  2013-01-02  ...  NordrheinWestfalen     NW
2  NordrheinWestfalen  2013-01-03  ...  NordrheinWestfalen     NW
3  NordrheinWestfalen  2013-01-04  ...  NordrheinWestfalen     NW
4  NordrheinWestfalen  2013-01-05  ...  NordrheinWestfalen     NW

[5 rows x 26 columns]

To capture the trend and cyclical behavior as a function of time, we will be using `googletrend` and add new columns based on the week column so that we have extra granularity.

We'll also change the statename 'NI' with 'HB,NI' to make it match the rest of our data.

In [17]:
googletrend.head()

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

In [0]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

In [19]:
googletrend.head()

             file                     week  trend        Date State
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02    SN
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09    SN
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16    SN
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23    SN
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30    SN

In [0]:
def add_datepart(df, fldname, drop=True, time=False):
    "Helper function that adds columns relevant to a date."
    fld = df[fldname]
    fld_dtype = fld.dtype
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
    if time: attr = attr + ['Hour', 'Minute', 'Second']
    for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
    df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
    if drop: df.drop(fldname, axis=1, inplace=True)

In [0]:
add_datepart(weather, "Date", drop=False)
add_datepart(googletrend, "Date", drop=False)
add_datepart(train, "Date", drop=False)
add_datepart(test, "Date", drop=False)

The `googletrend` data has a special category for the whole of Germany, so we'll filter everything else out.

In [0]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

We can now outer join all of our data into a single dataframe.

Outer Join is often easier (better) than inner join. We just need to check if there are any null values after we've joined the tables. This avoids any mistakes we might make. For example, if some of the data between tables is not the same, we will get null values. It's worth it to check this before moving forward.

In [0]:
store = join_df(store, store_states, "Store")

In [24]:
len(store[store.State.isnull()])

0

No null values. Now let's join the rest of our dataframes.

In [25]:
joined = join_df(train, store, "Store")
joined_test = join_df(test, store, "Store")
len(joined[joined.StoreType.isnull()]),len(joined_test[joined_test.StoreType.isnull()])

(0, 0)

In [26]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
joined_test = join_df(joined_test, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()]),len(joined_test[joined_test.trend.isnull()])

(0, 0)

In [27]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
joined_test = joined_test.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()]),len(joined_test[joined_test.trend_DE.isnull()])

(0, 0)

In [28]:
joined = join_df(joined, weather, ["State","Date"])
joined_test = join_df(joined_test, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()]),len(joined_test[joined_test.Mean_TemperatureC.isnull()])

(0, 0)

In [29]:
joined.head()

   Store  DayOfWeek       Date  ...  Is_year_end_y  Is_year_start_y   Elapsed_y
0      1          5 2015-07-31  ...          False            False  1438300800
1      2          5 2015-07-31  ...          False            False  1438300800
2      3          5 2015-07-31  ...          False            False  1438300800
3      4          5 2015-07-31  ...          False            False  1438300800
4      5          5 2015-07-31  ...          False            False  1438300800

[5 rows x 100 columns]

We can now drop all rows with the _y suffix.

In [0]:
for df in (joined, joined_test):
  for c in df.columns:
    if c.endswith('_y'):
      if c in df.columns: df.drop(c, inplace=True, axis=1)

An issues that comes up often enough is missing values. Many models have problems when missing values are present. Therefore, we will be replacing these missing values with an arbitrary signal value that doesn't other appear in the data. In other words, our missing values come from the date columns so we will give the missing values a date in the year 1900.

In [0]:
for df in (joined, joined_test):
  df['CompetitionOpenSinceYear'] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
  df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
  df['Promo2SinceYear'] = df.Promo2SinceYear.fillna(1900).astype(np.int32)
  df['Promo2SinceWeek'] = df.Promo2SinceWeek.fillna(1).astype(np.int32)

In [0]:
for df in (joined,joined_test):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear, 
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

In [0]:
for df in (joined,joined_test):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

In [34]:
for df in (joined,joined_test):
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"]//30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,  1, 14, 20,  8, 18,  6, 21,  5])

In [35]:
!pip install isoweek
from isoweek import Week

Collecting isoweek
  Downloading https://files.pythonhosted.org/packages/c2/d4/fe7e2637975c476734fcbf53776e650a29680194eb0dd21dbdc020ca92de/isoweek-1.3.3-py2.py3-none-any.whl
Installing collected packages: isoweek
Successfully installed isoweek-1.3.3

In [0]:
for df in (joined,joined_test):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(
        x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days

In [0]:
for df in (joined,joined_test):
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
    df.Promo2Weeks.unique()

In [0]:
joined.to_pickle('/content/joined')
joined_test.to_pickle('/content/joined_test')

## Durations

To squeeze a little bit more out of our time series dataset, we can do the following:

*   Running Averages
*   Time until next event
*   Time since last event

This is important because we are giving our model a chance to take into the effect caused by the duration between two events.

For example, in our case, our model may learn that if two sales happen within 10 days of each other, we see less of a profit than if we waited 30 days.

In our to count the time between events, we (obviously) need to take into account the time data. The time data is represented as a function of each new row.

Our function will be used to create a new set of rows that count the number of days that has elapsed between two events. Theoretically, the events could be sales, state holidays, school closures, etc.

We'll define the function `get_elapsed` and give it a particular field `fld` to monitor the time elapsed since the last event. The counter will restart every time a new event comes along.

In [0]:
def get_elapsed(fld, pre):
  day1 = np.timedelta64(1, 'D')
  last_date = np.datetime64()
  last_store = 0
  res = []

  for s, v, d in zip(df.Store.values, df[fld].values, df.Date.values):
    if s != last_store:
      last_date = np.datetime64()
      last_store = s
    if v: last_date = d
    res.append(((d-last_date).astype('timedelta64[D]')/day1))
  df[pre+fld] = res

We'll be applying `get_elapsed` to the following columns:

In [0]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [0]:
df = train[columns].append(test[columns])

In [0]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [0]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [0]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

We're going to set the active index to Date:

In [0]:
df = df.set_index('Date')

In [46]:
df.head()

            Store  Promo  ...  AfterPromo  BeforePromo
Date                      ...
2015-09-17      1      1  ...         0.0          0.0
2015-09-16      1      1  ...         0.0          0.0
2015-09-15      1      1  ...         0.0          0.0
2015-09-14      1      1  ...         0.0          0.0
2015-09-13      1      0  ...         9.0         -1.0

[5 rows x 10 columns]

In [47]:
len(df.isnull())

1058297

We can see that there are null values in our dataframe. Our function gives us null values, we need to replace them with 0.

In [0]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [0]:
for o in ['Before', 'After']:
  for p in columns:
    a = o+p
    df[a] = df[a].fillna(0).astype(int)

Next we'll demonstrate window functions in pandas to calculate rolling quantities.

Here we're sorting by date `(sort_index())` and counting the number of events of interest `(sum())` defined in columns in the following week (`rolling()`), grouped by Store (`groupby()`). We do the same in the opposite direction.

In [0]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [0]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

Next we want to drop the Store indices grouped together in the window function.

Often in pandas, there is an option to do this in place. This is time and memory efficient when working with large datasets.

In [0]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [0]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [0]:
df.reset_index(inplace=True)

Now we'll merge these values onto the df.

In [0]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [0]:
df.drop(columns,1,inplace=True)

In [57]:
df.head()

        Date  Store  ...  StateHoliday_fw  Promo_fw
0 2015-09-17      1  ...              0.0       1.0
1 2015-09-16      1  ...              0.0       2.0
2 2015-09-15      1  ...              0.0       3.0
3 2015-09-14      1  ...              0.0       4.0
4 2015-09-13      1  ...              0.0       4.0

[5 rows x 14 columns]

It's usually a good idea to back up large tables of extracted / wrangled features before you join them onto another one, that way you can go back to it easily if you need to make changes to it.

In [0]:
df.to_pickle('/content/df')

In [0]:
df["Date"] = pd.to_datetime(df.Date)

In [60]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [0]:
joined = pd.read_pickle('/content/joined')
joined_test = pd.read_pickle('/content/joined_test')

In [0]:
joined = join_df(joined, df, ['Store', 'Date'])

In [0]:
joined_test = join_df(joined_test, df, ['Store', 'Date'])

The original authors also removed all instances where the store had zero sale / was closed. We speculate that this may have cost them a higher standing in the (Kaggle) competition. One reason this may be the case is that a little exploratory data analysis reveals that there are often periods where stores are closed, typically for refurbishment. Before and after these periods, there are naturally spikes in sales that one might expect. By ommitting this data from their training, the authors gave up the ability to leverage information about these periods to predict this otherwise volatile behavior.

In [0]:
joined = joined[joined.Sales!=0]

In [0]:
joined.reset_index(inplace=True)
joined_test.reset_index(inplace=True)

In [0]:
joined.to_pickle('/content/train_clean')
joined_test.to_pickle('/content/test_clean')

In [67]:
!zip -r /content/rossmann_dataframe.zip /content/

  adding: content/ (stored 0%)
  adding: content/.config/ (stored 0%)
  adding: content/.config/config_sentinel (stored 0%)
  adding: content/.config/configurations/ (stored 0%)
  adding: content/.config/configurations/config_default (stored 0%)
  adding: content/.config/logs/ (stored 0%)
  adding: content/.config/logs/2019.08.27/ (stored 0%)
  adding: content/.config/logs/2019.08.27/16.17.21.663235.log (deflated 54%)
  adding: content/.config/logs/2019.08.27/16.17.17.407104.log (deflated 85%)
  adding: content/.config/logs/2019.08.27/16.17.22.686467.log (deflated 55%)
  adding: content/.config/logs/2019.08.27/16.17.00.530950.log (deflated 90%)
  adding: content/.config/logs/2019.08.27/16.17.07.367707.log (deflated 54%)
  adding: content/.config/active_config (stored 0%)
  adding: content/.config/.last_update_check.json (deflated 22%)
  adding: content/.config/gce (stored 0%)
  adding: content/.config/.metricsUUID (stored 0%)
  adding: content/googletrend.csv (deflated 88%)
  adding: content/df (deflated 98%)
  adding: content/joined_test (deflated 96%)
  adding: content/test.csv (deflated 86%)
  adding: content/sample_submission.csv (deflated 72%)
  adding: content/store.csv (deflated 79%)
  adding: content/test_clean (deflated 96%)
  adding: content/store_states.csv (deflated 68%)
  adding: content/train_clean (deflated 96%)
  adding: content/joined (deflated 96%)
  adding: content/state_names.csv (deflated 29%)
  adding: content/weather.csv (deflated 76%)
  adding: content/train.csv (deflated 82%)
  adding: content/sample_data/ (stored 0%)
  adding: content/sample_data/anscombe.json (deflated 83%)
  adding: content/sample_data/README.md (deflated 42%)
  adding: content/sample_data/california_housing_test.csv (deflated 76%)
  adding: content/sample_data/california_housing_train.csv (deflated 79%)
  adding: content/sample_data/mnist_test.csv (deflated 88%)
  adding: content/sample_data/mnist_train_small.csv (deflated 88%)

# Data Preparation

In [68]:
train_df = pd.read_pickle('train_clean')
train_df.head().T

                                             0  ...                    4
index                                        0  ...                    4
Store                                        1  ...                    5
DayOfWeek                                    5  ...                    5
Date                       2015-07-31 00:00:00  ...  2015-07-31 00:00:00
Sales                                     5263  ...                 4822
Customers                                  555  ...                  559
Open                                         1  ...                    1
Promo                                        1  ...                    1
StateHoliday                             False  ...                False
SchoolHoliday                                1  ...                    1
Year                                      2015  ...                 2015
Month                                        7  ...                    7
Week                                        31  ...                   31
Day                                         31  ...                   31
Dayofweek                                    4  ...                    4
Dayofyear                                  212  ...                  212
Is_month_end                              True  ...                 True
Is_month_start                           False  ...                False
Is_quarter_end                           False  ...                False
Is_quarter_start                         False  ...                False
Is_year_end                              False  ...                False
Is_year_start                            False  ...                False
Elapsed                             1438300800  ...           1438300800
StoreType                                    c  ...                    a
Assortment                                   a  ...                    a
CompetitionDistance                       1270  ...                29910
CompetitionOpenSinceMonth                    9  ...                    4
CompetitionOpenSinceYear                  2008  ...                 2015
Promo2                                       0  ...                    0
Promo2SinceWeek                              1  ...                    1
...                                        ...  ...                  ...
Min_Sea_Level_PressurehPa                 1015  ...                 1016
Max_VisibilityKm                            31  ...                   10
Mean_VisibilityKm                           15  ...                   10
Min_VisibilitykM                            10  ...                   10
Max_Wind_SpeedKm_h                          24  ...                   14
Mean_Wind_SpeedKm_h                         11  ...                   11
Max_Gust_SpeedKm_h                         NaN  ...                  NaN
Precipitationmm                              0  ...                    0
CloudCover                                   1  ...                    4
Events                                     Fog  ...                  NaN
WindDirDegrees                              13  ...                  290
StateName                               Hessen  ...              Sachsen
CompetitionOpenSince       2008-09-15 00:00:00  ...  2015-04-15 00:00:00
CompetitionDaysOpen                       2510  ...                  107
CompetitionMonthsOpen                       24  ...                    3
Promo2Since                1900-01-01 00:00:00  ...  1900-01-01 00:00:00
Promo2Days                                   0  ...                    0
Promo2Weeks                                  0  ...                    0
AfterSchoolHoliday                           0  ...                    0
BeforeSchoolHoliday                          0  ...                    0
AfterStateHoliday                           57  ...                   57
BeforeStateHoliday                           0  ...                    0
AfterPromo                                   0  ...                    0
BeforePromo                                  0  ...                    0
SchoolHoliday_bw                             5  ...                    5
StateHoliday_bw                              0  ...                    0
Promo_bw                                     5  ...                    5
SchoolHoliday_fw                             7  ...                    1
StateHoliday_fw                              0  ...                    0
Promo_fw                                     5  ...                    1

[93 rows x 5 columns]

In [69]:
n = len(train_df)
n

844338

## Experimenting with a sample of the dataset

We'll start off by experimenting with a subset of our dataset in order to test some preprocessing quickly.

In [0]:
idx = np.random.permutation(range(n))[:2000]  # take a random 2000 element subset
idx.sort() # sort numbers in ascending order
small_train_df = train_df.iloc[idx[:1000]] # create a 1000 element train set (the first 1000)
small_test_df = train_df.iloc[idx[1000:]] # create a 1000 element test set (the final 1000)
small_cont_vars = ["CompetitionDistance", "Mean_Humidity"] 
small_cat_vars = ["Store", "DayOfWeek", "PromoInterval"]
small_train_df = small_train_df[small_cat_vars + small_cont_vars + ["Sales"]]
small_test_df = small_test_df[small_cat_vars + small_cont_vars + ["Sales"]]

In [72]:
small_train_df.head()

      Store  DayOfWeek  ... Mean_Humidity  Sales
149     150          5  ...            61  10826
634     636          5  ...            50  10764
824     826          5  ...            61  11768
1613    502          4  ...            56  12534
1726    615          4  ...            56  10078

[5 rows x 6 columns]

In [74]:
small_test_df.head()

       Store DayOfWeek  ... Mean_Humidity  Sales
423054  1099         7  ...            80   4137
423159   105         6  ...            54   2852
423186   NaN         6  ...            70   6766
423780   729         6  ...            48   8055
424055  1005         6  ...            48   5242

[5 rows x 6 columns]

As we can see in the column "PromoInterval", there are some months in some of the rows, but some of the rows have NaN values. These values are missing from the dataset. Let's use `Categorify` to convert each variable in this column into a category.

In [0]:
categorify = Categorify(small_cat_vars, small_cont_vars)
categorify(small_train_df)
categorify(small_test_df, test=True) # True makes sure that it uses the same categories as the train set

In [75]:
small_test_df.head()

       Store DayOfWeek  ... Mean_Humidity  Sales
423054  1099         7  ...            80   4137
423159   105         6  ...            54   2852
423186   NaN         6  ...            70   6766
423780   729         6  ...            48   8055
424055  1005         6  ...            48   5242

[5 rows x 6 columns]

As we can see, it still displays the same values, but that is only on the outside. If we look on the inside, we can see that the values are actually categorized.

In [76]:
small_train_df.PromoInterval.cat.categories

Index(['Feb,May,Aug,Nov', 'Jan,Apr,Jul,Oct', 'Mar,Jun,Sept,Dec'], dtype='object')

We can see all the categories/classes.

In [78]:
small_train_df["PromoInterval"].cat.codes[:100]

149     -1
634      1
824     -1
1613     1
1726    -1
1895     1
2511    -1
2659    -1
2810    -1
3170     1
3900     1
4030     1
4183     1
4589    -1
4607     2
4796    -1
5024    -1
6273     1
7273    -1
7697    -1
8555     2
8642    -1
8849    -1
9003     2
9431    -1
9443     1
9675    -1
9785     2
11091   -1
13004    1
        ..
29806    2
30028    0
30722   -1
30725   -1
31553   -1
31703    1
31997    1
33176   -1
33832   -1
33896   -1
34528    0
34625   -1
34900   -1
35006   -1
35050    1
35236   -1
35781    0
36118    0
37259    0
37308    1
37693   -1
38294    1
39070    2
39202    1
39389    1
39842   -1
40214    1
40962   -1
41475   -1
42309    1
Length: 100, dtype: int8

The -1 values are for the NaN values. We will need to add 1 to all values (to make them equal to 0) in order to create our embedding matrix later on.

The 0s, 1s, and 2s are for the other classes.

When you have a dataset with missing values, you shouldn't fret. That information is actually very important in building an accurate model. You need to the function `FillMissing`, this will create a new "_na" column based on the columns you are looking at and it will give the statement `True` if there's a missing value in that column (False if not). The fact that the value is missing is interesting and helps you predict the outcome. Keeping that information in a new column will help our depp learning model to better predict.

In [0]:
fill_missing = FillMissing(small_cat_vars, small_cont_vars)
fill_missing(small_train_df)
fill_missing(small_test_df, test=True)

For continuous variables, like `CompetitionDistance`, we can simply compute the median and replace the missing value by that. That said, we can replace it by almost any number because if it turns out that _na is important, the model will pick this up.

In [80]:
small_train_df[small_train_df['CompetitionDistance_na'] == True]

       Store DayOfWeek  ... Sales  CompetitionDistance_na
247287   291         6  ...  4375                    True
335663   622         1  ...  3908                    True

[2 rows x 7 columns]

## Preparing full data set

We're now going to prepare the full dataset.

In [0]:
train_df = pd.read_pickle('train_clean')
test_df = pd.read_pickle('test_clean')

In [82]:
len(train_df), len(test_df)

(844338, 41088)

Instead of preprocessing separately the dataset like we just did with the subset of our dataset, we can simply use include all of our preprocessing processes in the `TabularList.from_df()` function.

In [0]:
procs = [FillMissing, Categorify, Normalize]

We have to create an array for all the categorical variables and another one for the continuous variables before we pass it in `TabularList.from_df()`.

In [0]:
cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday', 'CompetitionMonthsOpen',
    'Promo2Weeks', 'StoreType', 'Assortment', 'PromoInterval', 'CompetitionOpenSinceYear', 'Promo2SinceYear',
    'State', 'Week', 'Events', 'Promo_fw', 'Promo_bw', 'StateHoliday_fw', 'StateHoliday_bw',
    'SchoolHoliday_fw', 'SchoolHoliday_bw']

cont_vars = ['CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
   'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
   'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 'trend_DE',
   'AfterStateHoliday', 'BeforeStateHoliday', 'Promo', 'SchoolHoliday']

Our dependant variable:

In [0]:
dep_var = 'Sales'
df = train_df[cat_vars + cont_vars + [dep_var, 'Date']].copy()

In [86]:
test_df["Date"].min(), test_df["Date"].max()

(Timestamp('2015-08-01 00:00:00'), Timestamp('2015-09-17 00:00:00'))

In [87]:
cut = train_df['Date'][(train_df['Date'] == train_df['Date'][len(test_df)])].index.max()
cut

41395

In [0]:
valid_idx = range(cut)

In [89]:
df[dep_var].head()

0     5263
1     6064
2     8314
3    13995
4     4822
Name: Sales, dtype: int64

In [0]:
data = (TabularList.from_df(df, path='/content/', cat_names=cat_vars,
                           cont_names=cont_vars, procs=procs,)
                    .split_by_idx(valid_idx)
                    .label_from_df(cols=dep_var, label_cls=FloatList, log=True)
                    .add_test(TabularList.from_df(test_df, path='/content/',
                                                  cat_names=cat_vars,
                                                  cont_names=cont_vars))
                    .databunch())

In [91]:
doc(FloatList)